# General
snippet date
	`strftime("%Y-%m-%d")`

# Uni
snippet studienummer
	202107428
snippet auid
	AU705334
snippet vicnavn
	Victor Ask Justesen
snippet vicstudienummer
	202107105
snippet vicauid
	AU704346

